 <h1>User info</h1>
  <td><%= image_tag @user.get_profile_image(100,100) %></td>
  <td>name</td>
  <p><%= @user.name %></p>
  <td>introduction</td>
  <p><%= @user.introduction %></p>

 <%= render 'books/new', book: @book %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>

  <td></td>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>

  <td>Title</td>
  <p><%= book.title %></p>
  <td>Opinion</td>
  <p><%= book.body %></p>

<% end %>
</div>
